@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Belgrano;
  src: url(./Belgrano-Regular.ttf);
}

html,
body {
  /* padding: 0;
	margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  z-index: 1;
}

.page-body {
  flex-grow: 1;
  overflow: hidden;
}

.orange-gradient {
  background: rgb(255, 0, 0);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 140, 57, 1) 110%
  );
  border-radius: 10px;
}
.orange-gradient-text {
  background: rgb(255, 0, 0);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 140, 57, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.white-button {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  color: #000;
}

/* Classes page */

.classes-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Belgrano;
}

.inner-page {
  background-color: #fddcd3;
  width: 80%;
}

.base-container {
  width: 100%;
  height: 100%;
  background-color: #3f3d56;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 30px;
}

.main-heading {
  text-align: left;
  color: #fddcd3;
  font-size: 35px;
  padding: 50px;
  line-height: 106px;
  letter-spacing: 3px;
}
.portfolio-header {
  border: 4px solid #222222;
  border-radius: 15px;
  padding: 8px 16px;
  text-align: left;
  font-size: 40px;
  font-weight: 550;
  line-height: 106px;
  letter-spacing: 3px;
}
.line-vector {
  margin-bottom: -100px;
  width: 700px;
}

.container-vector {
  margin-left: auto;
  margin-bottom: -60px;
  margin-right: 20px;
  width: 250px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 0;
  box-sizing: border-box;
}

.forward {
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.overlap-images {
  box-sizing: border-box;
  width: 40%;
  position: relative;
}

.top-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
}

.down-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-data {
  width: 40%;
}

.text-data h1 {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 400;
}

.page-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-divider img {
  height: 200px;
  margin-bottom: -170px;
  z-index: -1;
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff0ec;
  z-index: 0;
  width: 100%;
  padding-top: 200px;
}

.box {
  width: 80%;
  height: 50%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  padding: 40px 10px 40px 40px;
  color: #ffffff;
  box-shadow: 5px 10px 5px #888888;
}

.primary {
  background-color: #222222;
}

.secondary {
  background-color: #6362ff;
}

.warning {
  background-color: #e54e26;
}


p {
  font-family: Arial, Helvetica, sans-serif;
  
}
.box-data {
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.box-data div {
  margin: 10px 0px;
}

.box-data h1 {
  font-size: 30px;
  font-weight: 700;
}


.box-text {
  font-size: 15px;
  width: 80%;
}

.box-img {
  margin: 10px;
}
.box-img-img {
  width: 700px;
  border-radius: 25px;
  border: 10px solid #FDDCD3;
}

@media (max-width: 768px) {
  .inner-page {
    width: 90%;
  }

  .base-container {
    border-radius: 10px;
  }

  .main-heading {
    font-size: 15px;
    padding: 20px;
    line-height: 20px;
    letter-spacing: 3px;
  }

  .line-vector {
    margin-bottom: -50px;
    width: 300px;
    margin-top: 10px;
  }

  .container-vector {
    margin-left: auto;
    margin-bottom: -40px;
    margin-right: 20px;
    width: 100px;
  }
  .box {
    flex-direction: column;
    padding: 20px;
    width: 97%;
  }
  .box-img {
    margin: 10px 0;
  }
  .box-text {
    font-size: 23px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .item {
    flex-direction: column;
    width: 100%;
  }
  .overlap-images {
    margin-bottom: 50px;
  }
  .down-img {
    max-width: 150px;
  }
  .top-img {
    max-width: 200px;
    width: 100px;
  }
  .text-data {
    width: 100%;
    margin: 50px;
  }
  .text-data h1 {
    font-size: 25px;
  }


}

/* Web Dev Page */

.main-web-dev-page {
  background-color: #fddcd3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

    .modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }

#cover {
  /* position: relative; */
  background: url("../public/webDevAssets/background-image-code.png");
  background-size: cover;
  width: 80%;
  height: 75vh;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 900px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {
  font-family: Belgrano;
  font-size: 50px;
  text-align: center;
  color: #fddcd3;
}

.content h2 {
  opacity: 0.8;
  font-size: 18px;
  text-align: center;
  color: #fddcd3;
  margin: 10px;
}

#paragraph {
  font-family: Bai Jamjuree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  color: #fddcd3;
}

#underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #f1662a;
}

#container {
  margin: 20px;
  /* height: 400px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.items {
  margin: 15px;
  padding: 3px;
  padding-left: 15px;
  border-left: 4px solid black;
  width: 200px;
  height: 250px;
}

.icon-heading {
  font-family: Bai Jamjuree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.items h3 {
  font-family: Bai Jamjuree;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

#learning-container {
  margin: 20px;
  border: #3f3d56 3px solid;
  width: 80%;
  border-radius: 5px;
  padding: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.learning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.learn {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.learn img {
  margin: 10px;
}

@media (max-width: 500px) {
  #heading {
    font-size: 40px;
  }

  #container {
    flex-direction: column;
  }

  .learning {
    flex-direction: column;
  }
  .learn {
    width: 100%;
    margin: 10px;
  }
}
