@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	/* padding: 0;
	margin: 0; */
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

* {
	box-sizing: border-box;
    z-index: 1;
}


.page-body {
    flex-grow: 1;
    overflow: hidden;
}

.orange-gradient {
	background: rgb(255, 0, 0);
	background: radial-gradient(
		circle,
		rgba(255, 0, 0, 1) 30%,
		rgba(255, 140, 57, 1) 110%
	);
    border-radius: 10px;
}
.orange-gradient-text {
	background: rgb(255, 0, 0);
	background: radial-gradient(
		circle,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 140, 57, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
